/* Header styles */
header{
    background: white;
    padding: 22px 0;
    box-shadow: 0px 0px 10px #00000036;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav{
    display: flex;
}

header .container nav a{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-right: 20px;
}

header .container nav a:last-child{
    margin-right: 0;
}

/* HERO SECTION */
#hero{
    position: relative;
    min-height: 620px;
    display: flex;
}

#hero .container{
    height: 100%;
    display: flex;
    align-items: center;
}

#hero .container .data-content{
    width: 50%;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#hero .container .data-content .title__primary{
    margin-bottom: 20px;
}

#hero .container .data-content p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}

#hero .media-content{
    position: absolute;
    right: 0;
    width: 50%;
    top: 0;
    height: 100%;
}

#hero .media-content:before{
    content: '';
    height: 100%;
    width: 72px;
    position: absolute;
    transform: scale(-1);
    left: 0;
    top: 0;
    background: url("data:image/svg+xml;utf8,%3csvg viewBox='0 0 100 100' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3e%3cpath d='M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z' fill='%23fff' fill-rule='evenodd' transform='translate(50.000000, 50.000000) rotate(-90.000000) translate(-50.000000, -50.000000)' /%3e%3c/svg%3e")
}

#hero .media-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#grew-up{
    text-align: center;
    padding: 80px 0;
    background: #f6f9fc;
}

#grew-up .title__secondary{
    margin-bottom: 40px;
    padding: 0 20px;
}


#grew-up .container{
    display: flex;
    flex-wrap: wrap;
}

#grew-up .container .card__primary{
    width: calc( (100% / 3) - 14px);
    margin-right: 20px;
}

#grew-up .container .card__primary:last-child{
    margin-right: 0;
}

footer{
    background: #192d35;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    text-align: center;
}

/* INTERNAS */
body:not(.home){

}

body:not(.home) main{
    padding-top: 0;
}

body:not(.home) header{
    background: transparent;
    position: absolute;
    box-shadow: none;
}

body:not(.home) header .container nav a{
    color: white;
}

body:not(.home) #banner{
    color: white;
    background-color: #192d35;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
    min-height: 500px;
    display: flex;
    position: relative;
}

body:not(.home) #banner h1{
    color: white;
    margin-bottom: 30px;
}

body:not(.home) #banner .container{
    max-width: 740px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#content{
    padding: 60px 0;
}

#content .info-block{ 
    display: flex;
    align-items: center;
}

#content .info-block .image{
    width: 500px;
}

#content .info-block .image img{
    width: 100%;
    border-radius: 10px;
}

#content .info-block .data{
    width: calc(100% - 500px);
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#content .info-block .data .title__secondary{
    margin-bottom: 30px;
}

@media screen and (max-width: 1180px){
    #hero .container .data-content p{
        font-size: 18px;
        line-height: 28px;
    }    
}

@media screen and (max-width: 880px){
    #content .info-block{
        flex-direction: column-reverse;
    }

    #content .info-block .data{
        width: 100%;
        padding: 0;
        padding-bottom: 40px;
        text-align: center;
    }

    #content .info-block .image {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 767px){

    header{
        padding: 16px 0;
    }

    header .container .logo{
        margin-bottom: 10px;
    }

    header .container .logo img{
        width: 100px;
    }

    header .container nav a{
        font-size: 14px;
        line-height: 22px;
    }

    header .container{
        flex-direction: column;
    }

    #hero{
        min-height: 420px;
    }

    #hero .media-content{
        display: none;
    }

    #hero .container .data-content{
        width: 100%;
        text-align: center;
        padding-right: 0;
    }

    #hero .container .data-content .btn{
        margin-left: auto;
        margin-right: auto;
    }


    #grew-up {
        padding: 60px 0;
    }

    #grew-up .container{
        justify-content: center;
    }

    #grew-up .container .card__primary{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 400px;
    }

    #grew-up .container .card__primary:last-child{
        margin-bottom: 0
    }

    #content{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}


@media screen and (max-width: 499px){
    #hero .container .data-content p {
        font-size: 16px;
        line-height: 24px;
    }

    footer .container p{
        font-size: 15px;
        line-height: 20px;
    }
}

